{
  "mqtt": {
    "name": "zwavejs2mqtt",
    "host": "mosquitto",
    "port": 1883,
    "qos": 1,
    "prefix": "zwave",
    "reconnectPeriod": 3000,
    "retain": true,
    "clean": true,
    "auth": true,
    "_ca": "",
    "ca": "",
    "_cert": "",
    "cert": "",
    "_key": "",
    "key": "",
    "disabled": true
  },
  "gateway": {
    "type": 0,
    "plugins": [],
    "authEnabled": true,
    "payloadType": 0,
    "nodeNames": true,
    "hassDiscovery": true,
    "discoveryPrefix": "homeassistant",
    "logEnabled": true,
    "logLevel": "info",
    "logToFile": false,
    "values": []
  },
  "zwave": {
    "commandsTimeout": 30,
    "logLevel": "info",
    "logToFile": false,
    "serverEnabled": true,
    "enableStatistics": true,
    "serverPort": 3000,
    "disclaimerVersion": 1,
    "port": "/dev/zwave",
    "logEnabled": false
  }
}
